{% extends "template.html" %}
{% block conteudo %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All Food Restaurant NExT</title>
</head>
<body>
      <div class="page-header">
      <form action = "{{url_for('create_order')}}" method = "post" enctype="multipart/form-data"> 
        <firuge class="thumb col-md-4">
          <img class="img-responsive" src="{{ url_for('image', file_name='capa_padrao.jpg') }}">
          <figcaption>
            <label class="fileContainer">
              Change Image
              <input type="file" name="file" accept=".jpg">
            </label>
          </figcaption>
        </firuge>


        <fieldset>
          <div class="form-group">
            <label for="plate">Plate</label>
            <input type="text" id="plate" name="plate" class="form-control">
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <input type="text" id="category" name="category" class="form-control">
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="text" id="price" name="price" class="form-control">
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-submit">Submit</button>
        <a class="btn btn-danger" href="{{ url_for('home') }}">Back</a>
      </fieldset>
    </form>
  </div>
</body>
</html>
{% endblock %}